*:focus {outline: none;}
body{
	background:#00b3e0;
}

#map{
	margin:0px;
}

.ui-header {
	padding-top:20px;
}
.ui-header .ui-btn {
	margin-top:20px;
}

.ui-dialog-contain {
	width: 100%;
	margin: 0px auto;
	padding: 0;
	position: relative;
	top: 0px;
}